body{
    margin:0;
    padding:0;
    background: #fff;
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    background-image:url("morsecode/Picture2.jpg"); 
}
.container{
    margin: 10px;
    background-color:orange;
    width:97%;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    box-shadow: 5px 10px 0px #333;
    display: flexbox;
    flex-wrap: wrap;
}
.container>.container-3{
    margin-top:30px;
    background-color: #cbcbcb;
    width:100%;
    height: 120px;
    position: relative;
    border-radius: 30px;
    box-shadow: 5px 10px 0px #333;

}
.container>.container-2{    
    border-radius: 50px;
    border: 2px solid #fb2525;
    box-shadow: 5px 10px 0px #333;
    margin-top:40px;
    background-color:whitesmoke;
    width:100%;
    height: 450px;
    position: relative;
    /* background:url("morsecode/allcolours2.jpg"); */
    background: #fff;
}

.container-2 h1 {
    font-family: "sans-serif";
    background-color:slateblue;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
}
.buttons {
    margin-top: 50px;
}

#btn0{
    background-color:red;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    align-self: center;
    /* margin-left:20%; */
}
#btn1{
    background-color:blue;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    align-self: center;

}
#btn2{
    background-color:#33ff33;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    align-self: center;

}
#btn3{
    background-color:pink;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    align-self: center;
}
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}
.progress-bar{
    width: 0px;
    height: 20px;
    background-color: yellow;
    border-radius: 30px;
}
#check input[type="submit"]
{
  border:none;
  outline:none;
  height: 50px;
  width:150px;
  background: #fb2525;
  color:black;
  font-size:18px;
  border-radius:20px;
  margin: 15px 40px 10px 0px;
  padding: 10px 10px;

}
#continue input[type="submit"]
{
  border:none;
  outline:none;
  height: 50px;
  width:250px;
  background: #33ff33;
  color:black;
  font-size:18px;
  border-radius:20px;
  margin-top: 20px;
  margin: 30px auto;
  margin-left:50px;

}
/* #forum input[type="submit"]
{
  border:none;
  outline:none;
  height: 50px;
  width:150px;
  background: #33ff33;
  color:black;
  font-size:18px;
  border-radius:20px;
  margin: 0 auto;
  margin-top:10px;

} */
